/* CSS Reset */
* {
    /* width: 100%; */
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    /* background-color: #FFFFE3; */
}



/* header styles */
header nav{
    width: 100%;
    padding: 20px 70px 20px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFE3;
    
}

/* ul styles */
nav ul {
    display: flex;
    gap: 40px;
}

/* list items styles */
nav ul li a {
    font-family: "Poppins", sans-serif ;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #1E1F38;
}  

/* right-nav styles */
nav .right-nav {
    display: flex;
    align-items: center;
    gap: 60px;
}

.right-nav a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-style: bold;
    line-height: 24px;
    color: #F16725;
}

.right-nav button {
    width: 136px;
    height: 48px;
    gap: 10px;
    border-radius: 5px;
    background-color: #F16725;
    border: none;
}

.right-nav button a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
}

.hero-section {
    height: 650px;
    padding: 20px 70px 20px 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffe3;
} 

/* hero section styles start */
.left-hero p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #F16725;
}

.left-hero h1 {
    width: 580px;
    /* height: 300px; */
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 56px;
}

/* h1 span styles */
.left-hero h1 span {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: #F16725;
}

.left-hero > .p  {
    width: 493px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1E1F38CC;
}

.left-hero > .hero-buttons{
    display: flex;
    gap: 30px;
    padding-top: 20px;
    align-items: center;
}

.left-hero button {
    width: 181px;
    height: 48px;
    border-radius: 5px;
    border: none;
    background-color: #F16725;
}

.left-hero button a {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
}

.left-hero div a p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding-top: 40px;
    
}

/* right-hero styles */

.right-hero img {
    width: 100%;
    position: relative;
    /* bottom: 100px; */
    /* right: 70px; */

   
}
/* hero section end */

/* services section start */
.services {
    align-content: center;
    padding: 120px 160px 160px 160px;
}

.services h2 {
    width: 585px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
}

.million {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #F16725;
}
 

/* service container styles */
.service-container > .offers-container{
    display: flex;
    gap: 30px;
    padding-top: 50px;
}

/* offers headers styles */
.offers h3 {
    font-family: Oxygen;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    color: #F16725;
}

/* offers p text styles */
.offers p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1E1F38CC;
} 

/* offers learn more styles */
.offers > .read-more {
    display: flex;
    align-items: center;
    padding: 10px 0px 0px 0px;
    
}

.offers > .read-more a {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #F16725;
}
/* icon styles */
.offers i {
    color: #F16725;
}

/* offers bg styles */
.offers-container > .offers {
    width: 333px;
    height: 304px;
    gap: 8px;
    border-radius: 30px;
    padding: 32px;
    background-color: #FFFFE3;

}

/* why paga section starts */
.why-paga-container {
    height: 450px;
}

/* why paga text styles */
.why-paga-container > .p-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 120px;
    height: 33px;
    background-color: #FDB913;
    border-radius: 50px;
    text-align: center;
    align-content: center;
} 

.why-paga-container > .p-bg p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.why-paga-container h2 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 123%;
    text-align: center; 
    padding-top: 15px; 
}

.why-paga-container h2 .your-way {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #F16725;
}


.why-paga-container > .reason {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 80px;
    width: 1047px;
    height: 290px;
    gap: 3px;
    
}

.reason1 {    
    width: 317px;
    height: 290px;
    gap: 8.03px;
    border-radius: 8px;
    padding: 24px;
}

.reason1 h3 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 48px;
    color: #F16725;
    text-align: center;
}

.reason1 p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #1E1F38CC;
    text-align: center;
}

.reason1 > .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}
/* Why-paga section end */

/* billers section start */
.billers-section {
    background-color: #FFFFE3;
    
    align-content: center;
    justify-content: center;
}


.biller {
    align-content: center;
    justify-content: center;
    padding: 120px 160px 20px 160px;
    
}

.biller h2 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    padding-bottom: 0.4em;
}

.biller h2 span {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #F16725;
}

.biller p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #F16725;
    }

/* biller grid styles */
.biller-grid {
    width: 900px;
    display: grid;
    justify-content: center;
    align-self: center;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    padding-left: 34%; 
}
/* biller section ends */

/* section with number of agents ends */
.agents-section > .agents-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 1165px;
    height: 490px;
    border-radius: 30px;
    background-color: #F16725;
}

.agents-container > .agents  {
    width: 460px;
    height: 327px;

}

.agents > .need-an-agent {
    width: 128px;
    height: 30px;
    align-content: center;
    text-align: center;
    gap: 10px;
    border-radius: 40px;
    background-color: #FDB913;


}


.agents > .need-an-agent p {
    font-family: "Poppins" sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
}

.agents h2 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: #FFFFFF;
}

.agents > .p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 20px;
    
}

.button-container {
    display: flex;
    gap: 30px;
    padding-top: 20px;
}

.button-container > .btn-left {
    width: 181px;
    height: 48px;
    border-radius: 5px;
    border: none;
    background-color: #FFFFFF;
}

.button-container > .btn-left a {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #F16725;
}

.button-container > .btn-right {
    width: 181px;
    height: 48px;
    border-radius: 5px;
    border: none;
    background-color: #F16725;
    border: 1px solid #FFFFFF;
}

.button-container > .btn-right a {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}


/* circular grid styles */
.circular-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}


.circular-grid > .middle-image {
    position: relative;
    top: 100px;
    left: 20px;
} 

.circular-grid > .last-img {
    position: relative;
    top: 27px;
    left: 90px;
}

/* testimonies / swiper container */
.testimonial-section {
  width: 100%;
  text-align: center;
  padding: 40px;
}

.testimonial-section h2 {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 60px;
}

.swiper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide h3 {
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #1E1F38;
}

.testimonial-section p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #666;
  margin-bottom: 40px;
  /* padding: 0px 30px; */
}

.highlight {
  color: #F16725;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid #f66;
  object-fit: cover;
  margin-bottom: 15px;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 254px;
  margin: 0 auto;
  /* padding: 40px; */
  box-sizing: border-box;
}

/* reviewers section end */

/* partners start */

/* partners h2 / span */
.partners h2 {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    color: #1E1F38;
    width: 705px;
}

.partners h2 span {
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 48px;
    color: #F16725;
}

.partner-grid img {
    width: 100%;
}

.partners > .partners-heading {
    padding-left: 85px;
}
/* partners end */

/* download paga starts */
.download-app-section {
    height: 350px;
}

.app-download-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F16725;
    border-radius: 35px;
    width: 1120px;
    margin: 0 auto;

}

.download-app-left p {
    background-color: #FDB913;
    width: 250px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    align-content: center;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.download-app-left h2 {
    width: 556px;
    height: 150px;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    color: #FFFFFF;
}

.download-app-left h2 span {
    color: #1E1F38;
}

.download-app-left > .download-link {
    display: flex;
    gap: 40px;
}


/* footer styles starts */
.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 50px 50px 0px 50px;
}

.footer-container > .footer-sm-links {
    width: 278px;
    height: 225px;
}

.footer-container > .footer-sm-links > .end-logo {
    padding-bottom: 10px;
}


.footer-container p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1E1F38CC;
    text-align: justify;
    padding-bottom: 10px;
}


.footer-items h2 {
    font-family: "Mulish", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #F16725;
}

.footer-items ul li a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1E1F38CC;
}

.footer-items ul li a:hover {
    color: #F16725;
}

.footer-items > .reach {
    display: flex;
    padding-bottom: 5px;
}

.footer-items > .reach a {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1E1F38CC;
}

.footer-items > .reach a:hover {
    color: #1e23b3;
}

.footer-items > .reach i {
    color: #F16729;
}


.footer-items > .reach address {
    width: 223px;
}

.end-footer {
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 20px 180px 0px 80px;
}

footer {
    background-color: #FFFFE3;
}